@charset "UTF-8";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: #666;
	display: block;
	text-decoration: none;
}
a:hover {
	opacity: .5;
	transition: all .3s;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

body {
	color: #666;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	line-height: 1.8;
	font-size: 16px;
	box-sizing: inherit;
}

.pcOnly {
	display: inherit;
}
.spOnly {
	display: none;
}
@media screen and (max-width: 640px) {
	body {
		font-size: 12px;
	}
	.pcOnly {
		display: none;
	}
	.spOnly {
		display: block;
	}
}


/*=============================
*	header
*============================*/

header {
	text-align: center;
	border-top: solid 5px #0053af;
	padding: 24px 0 16px;
}

/*=============================
*	wrapper
*============================*/

.wrapper {
	width: 95%;
	max-width: 840px;
	margin: 0 auto 60px;
}

/*=============================
*	goTop
*============================*/

.goTop {
	width: 50px;
	height: 50px;
	box-shadow: 0px 3px 2px #aaa;
	background-color: #0053af;
	border-radius: 25px;
	position: fixed;
	bottom: 25px;
	right: 5%;
}

.goTop a {
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	border-radius: 25px;
}
@media screen and (max-width: 640px) {
	.goTop {
		right: 5%;
	}
}

/*=============================
*	footer
*============================*/

footer p {
	text-align: center;
}

/*=============================
*	ttl
*============================*/

.ttl01 {
	margin-bottom: 40px;
	color: #0053af;
	text-align: center;
}
.ttl02 {
	padding: 5px 0;
	color: #fff;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.ttl02 .time {
	display: block;
	font-size: 10px;
}
#presentation .ttl02 {
	background-color: #FF5900;
}
#system .ttl02 {
	background-color: #0067FF;
}
#design .ttl02 {
	background-color: #00BD03;
}
#app .ttl02 {
	background-color: #F72587;
}

.ttl03 {
	padding-left: 10px;
}
#presentation .ttl03 {
	color: #FF5900;
	border-left: solid 5px #FF5900;
	border-bottom: solid 1px #FF5900;
}
#system .ttl03 {
	color: #0067FF;
	border-left: solid 5px #0067FF;
	border-bottom: solid 1px #0067FF;
}
#design .ttl03 {
	color: #00BD03;
	border-left: solid 5px #00BD03;
	border-bottom: solid 1px #00BD03;
}
#app .ttl03 {
	color: #F72587;
	border-left: solid 5px #F72587;
	border-bottom: solid 1px #F72587;
}
@media screen and (max-width: 640px) {
	.ttl01 {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.ttl02 {
		font-size: 14px;
	}
}