@charset "UTF-8";

.icon {
	width: 200px;
	margin: 0 auto 30px;
}
.ttl02 {
	border-radius: 0;
	margin-bottom: 30px;
}
.ttl02 span {
	display: block;
	font-size: 14px;
}
.ttl03 + p {
	margin-bottom: 30px;
	padding: 10px 15px;
}
.slider {
	padding: 10px 15px;
}
@media screen and (max-width: 640px) {
	.ttl02 {
		font-size: 16px;
	}
	.ttl02 span {
		display: block;
		font-size: 12px;
	}
}

/*=============================
*	item
*============================*/

.item {
	margin: 30px 0 60px;
	padding: 0 15px;
	overflow: hidden;
}
.item li {
	width: 49%;
	float: left;
}
.item li + li {
	margin-left: 2%;
}
.item li a {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	text-align: center;
}

#system .item li a {
	color: #0067FF;
	border: solid 1px #0067FF;
}
#design .item li a {
	color: #00BD03;
	border: solid 1px #00BD03;
}
#app .item li a {
	color: #F72587;
	border: solid 1px #F72587;
}